<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/top-bar.ejs') %>
            <main>
                <h1>Edit an item in store!</h1>
            </main>
            <%- include('../includes/footer.ejs') %>