<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <h1>Some error ocurred!</h1>
  <p>The system administrator was informed, sorry for the inconvenience.</p>
  <p>
    <a href="/">Go back?
    </a>
  </p>
  <%- include('includes/end.ejs') %>