//- This pulls the template to then add content on top of it
extends layouts/regenerative-page.pug

//- the block keyword is used here as a variable that defines that will be injected
//- inside the same block keyword within the template being pulled above
block content 
    div.grid
        //- the if statement below will only render those things when true
        if leProdo.length > 0
            each product in leProdo
                article.card.product-item 
                    header.card__header 
                        h1.product__title #{product.title}
                    div.card__image
                        img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png", alt="A Book!")     
                    div.card__content
                        h2.product__price $19.99
                        p.product__description A very interesting book about trees and leaves 
                    div.card__actions 
                        button.btn Add to cart
        //- otherwise this else statement will run instead and give the error message
        else
            h1 Bruh, just add some books
