.form-control {
	margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
	display: block;
	width: 100%;
	margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
	border: 1px solid #a1a1a1;
	font: inherit;
	border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
	outline-color: #00695c;
}

.form-control input.invalid {
	border-color: red;
}

.form-control textarea.invalid {
	border-color: red;
}

.user-message {
	margin: 0.5rem auto;
	width: 50%;
	border: 1px solid blue;
	padding: 0.5rem;
	border-radius: 3px;
	background: rgb(101, 101, 178);
	text-align: center;
}

.user-message--error {
	border-color: red;
	background: rgb(255, 216, 216);
	color: rgb(228, 0, 0);
}

.user-message--success {
	border-color: green;
	background: rgb(124, 244, 126);
	color: green;
}
